.yellowish {
  background-color: #f7d27e !important;
}

html,
body,
header,
.jarallax {
  height: 100%;
}

@media (min-width: 560px) and (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 600px;
  }
}

#jarallax-container-0 {
  clip: rect(0 1292px 938px 0);
  clip: rect(0, 1292px, 938px, 0);
}

.carousel .carousel-control-prev-icon {
  background-image: url(../images/left.svg);
}

.carousel .carousel-control-next-icon {
  background-image: url(../images/right.svg);
}

.link:hover {
  cursor: pointer;
}

.brand:hover {
  cursor: context-menu;
}
